//トップページ

#map {
  height: 400px;
}

// maps/show

.island_image {
  height: 500px;
  width: 500px;
}

.image_list {
  height: 200px;
  width: 200px;
}

.images {
  height: 400px;
  width: 400px;
}

//モーダルページ

.modalArea {
  visibility: hidden;
  opacity : 0;
  position: fixed;
  z-index: 10; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .4s;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 80%;
  max-width: 800px;
  height: 80vh;
  overflow-y: scroll;
  padding: 10px 30px;
  background-color: #fff;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

.is-show {
  visibility: visible;
  opacity : 1;
}